<h1>Listing shoes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Comfort</th>
      <th>Elegant</th>
      <th>Image</th>
      <th>Last use</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
	<td><%= shoe.name %></td>
        <td><%= shoe.color %></td>
        <td><%= shoe.comfort %></td>
        <td><%= shoe.elegant %></td>
        <td> <%= image_tag(shoe.image, :height => 100)%></td>
        <td><%= shoe.last_use %></td>
        <td><%= link_to 'Show', shoe %></td>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoe', new_shoe_path %>
