<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @shoe.name %>
</p>
<p>
  <strong>Color:</strong>
  <%= @shoe.color %>
</p>

<p>
  <strong>Elegant:</strong>
  <%= @shoe.elegant %>
</p>

<p>
  <strong>Comfort:</strong>
  <%= @shoe.comfort %>/5
</p>

<p>
  <strong>Image:</strong>
  <%= @shoe.image %>
</p>

<p>
  <strong>Last use:</strong>
  <%= @shoe.last_use %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
